.card {
  max-width: 300px;
  width: 100%;
  /* background-color: white;
  border-radius: 5px;
  overflow: hidden; */
}

.card_link {
  text-decoration: none;
  color: var(---color-03);
  font-weight: 600;
}

.card_description {
  margin: 10px 0;
}

.card_img_container {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;

  img {
    display: block;
    width: 100%;
  }
}
