:root {
  --primary-color-01: #6eaeeb;
  --primary-color-02: #4fffdf;
  --primary-color-03: #303030;
  --secondary-color-01: #4e4e4e;
  --secondary-color-02: #dedede;
  --secondary-color-03: #f4f4f4;
  --primary-font: "Jost";
  --secondary-font: "Open Sans";
}
