:root {
  --primary-color-01: #6eaeeb;
  --primary-color-02: #4fffdf;
  --primary-color-03: #303030;
  --secondary-color-01: #1c1c1c;
  --secondary-color-02: #dedede;
  --secondary-color-03: #f4f4f4;
  --primary-font: "Helvetica";
  --secondary-font: "Open Sans";
}
